@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wccftech.com") {
	header{position: static!important;}
	.archive section.content{width:85vw!important;}

	body main,p,section{max-width: 100%!important;width: 100%!important;margin:0!important;padding: 0!important;}
}
