@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("theguardian.com") {
	.new-header__logo,#bottom-banner,iframe,footer{display: none!important;}
	.fc-container__inner,body,html, .facia-container__inner, .fc-container__pagination, .index-page-header,.js-content-main-column {margin:0!important;max-width:100%!important;;}
	body>div>div,body>div,body>div>div section{max-width:100%!important;height:100%!important;}
	body>section p,body>section main,body>section span,body>section div,body>section{display:block!important;height:auto!important;width:100%!important;max-width: 100%	!important;margin:auto!important;padding: auto!important;}
}
