@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("theguardian.com") {
	header{display: none!important;}
	body>div>div,body>div,body>div>div section{max-width:100%!important;height:100%!important;}
	body>section p,body>section main,body>section span,body>section div,body>section{display:block!important;height:auto!important;width:100%!important;max-width: 100%	!important;padding: 0!important;}
}
