menupopup,menupopup *{ font-size:0.8cm!important;
line-height:1cm!important;}
html *,window *,body
{  background-color:transparent!important;; 
  
		color:orange!important;;}

a{color:yellow!important;	}
 html ,window{
	 background-color: black!important;
 	background:black!important;
	 --bg-gradient:black!important;
  ;;color:orange!important;;}






