
@-moz-document domain("rosettacode.org"),domain("qz.com"){
	 *{padding:auto!important;margin:auto!important;
		max-width:100%!important;width: auto!important;
	height:auto!important;}
	svg,img{max-width:none!important	}
}
