@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http") {
	
	html,body,body>div[id]{max-width: 100%!important;  max-height: none!important;position:static!important;margin:0!important;padding:0!important;}
	
	
}
