@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("pcpartpicker.com") {
  input,.ui-slider-handle{color:green:!important;
    background-color:white!important;
     border:2px solid gold!important;}
  .masthead .nav__bottom .nav__wrapper .nav__categories > li:last-of-type .browseProducts{position:relative!important;}
  
}
