@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("mxlinux.org") {
	#content,#content >*,#primary,body >*{max-width: 100%!important;width: 100%!important;margin: 0!important;padding: 0!important;left:0!important;}
	#webarx-cookie-notice{display: none!important;}
	img{max-width:auto!important;}
}
