@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("4chan.org"),
    domain("4channel.org") {
			blockquote,.post, span.subject{color:orange!important;background-color:black!important;}
	body {;background-color: black!important;	background: none !important	}		
			
	div#post-menu.dd-menu>ul,
        #post-menu>ul>li,		
			span.posteruid>.hand::hover,.posteruid .hand:hover ,div.backlink a,div.backlink>span>a,.backlink a,.burichan_new .backlink a, .yotsuba_b_new .backlink a,.replylink,a.replylink:not(:hover){color:yellow!important;;;background-color:black!important;}
			a.quotelink,#quickReply,a.replylink:not(:hover), div#absbot a:not(:hover),.reply:target, .reply.highlight{background-color: black!important;;color:red!important}
		img {
    		opacity: 1.0 !important;
            background-color: black!important;
			}	
			
}
