
@-moz-document domain("news.ycombinator.com"){

	
	td.subtext > span.age:first-child,
			td.subtext>a[href^="hide"]:last-child,
	td.subtext>a[href*="vouch"],
	span.rank{display: none!important;}
	


	#hnmain{max-width:100vw!important;width:100%!important;}
td.default, textarea{border:0.5vh solid red!important;
	max-width:100vw!important;width:auto!important;;}

}
