
@-moz-document url-prefix("https://news.ycombinator.com/news"),
	url-prefix("https://news.ycombinator.com/best"){
	
	td.votelinks,a.hnuser +td,td.votelinks + td,td.votelinks ~ td{display:block!important;}
	.ind, .athing td,	 .athing> td:empty ~ td,td.subtext>a[href^="hide"]:last-child,	 td.subtext > span.age:first-child,	 td:empty + .title:nth-child(3)>a.storylink:only-child{display: none}
}

@-moz-document url-prefix("https://news.ycombinator.com/") {
	td[colspan='2'],.ind{display:none!important;}
	
	.comment,.default,.athing{float:left;max-width:95%!important;width:95%!important}
	.comment .commtext{width:100%!important;white-space:pre-wrap!important;
	}
	td{border:0.25vw solid red;
	}
	.default,.comment-tree,body,tr.athing{
	margin: 0.25vw 0.25vw 0.25vw 0.25vw!important;	max-width:100vw!important;border-top:2px solid red;
		width:100%!important;}
	
}
