@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("fpcomplete.com") {
	header>.navbar{position: relative!important;}
	*{max-width:100%!important;width:100%!important;margin: 0!important;padding: 0!important;}
}
