@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("lite.duckduckgo.com") {
	.extra,body>.header{display: none!important;}

	.filters>select{width:40%!important;display: inline!important;}

	.query,body,form{max-width:100%!important;width:100%!important;margin:0!important;padding:0!important;;}
.submit{float:right!important;;border:0.5mm solid red}
	.query{max-width: 80vw!important;}
	td:empty,td[valign='top']{max-width:0.1vw!important;}
}
