@namespace url(http://www.w3.org/1999/xhtml);



@-moz-document domain("sourceforge.net") {
	.stuck{position: static!important;}
	li.nel,#newsletter-floating,#code-art-wrapper,section.audience,.intro h1,.intro h2,.sf-logo,#nels,.copyright-notice{display: none!important;}
		form,input{border:0.25vw solid yellow!important;}
	#content_base div,
	.email-body,.email-body *,#md-contents,pre,section,body,body>*,#pg_index>*,#pg_index  div.row,form{max-width:100%!important;width:auto!important;overflow:visible!important;white-space:normal!important;background-color: black!important;}
	*{background-color: black!important;}

}
