@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("pcpartpicker.com") {
  input,.ui-slider-handle{color:green!important;
    background-color:white!important;
     border:2px solid gold!important;}
  .browseProducts{display: none!important;}
  .masthead .nav__bottom .nav__wrapper .nav__categories > li:last-of-type{
    height:auto!important;
    position:relative!important;margin:0!important;
  border:0!important;}
  
}
