@-moz-document domain("reddit.com") {
  span.rank{outline: thick double #32a1ce;}
	
	a.bylink{ pointer-events: none!important;}
 .md>textarea{width:200%!important;height:50vh!important;}
 .flat-list.buttons{margin-bottom:3vw!important;
		display:inline!important;}
	a{background-color: black!important;}
  #header-bottom-left{margin-bottom:1em!important;height:1em!important;} 
  #header-bottom-right{
		padding-top:0em!important;
		position:relative!important;}
  #sitetable,#sr-header-area,#header{ margin-top:1em!important; }
   
 .sr-list{height:100%!important;overflow:visible! important;
    ;}
  .thing{border:1px solid lightgreen!important;margin:0!important;}
   div.usertext-buttons,.bottom-area{width:100%!important; }
 

}
