@-moz-document domain("reddit.com") {
 .md>textarea{width:100vw!important;height:50vh!important;}
 .flat-list.buttons{margin-bottom:3vw!important;
		display:inline!important;}
	a{background-color: black!important;}
  #header-bottom-left{margin-bottom:1em!important;height:1em!important;} 
  #header-bottom-right{
		padding-top:0em!important;
		position:relative!important;}
  #sitetable,#sr-header-area,#header{ margin-top:1em!important; }
   
 .sr-list{height:100%!important;
	 overflow:visible! important;
    ;}
	.score{opacity:0.65!important;}
	.midcol{overflow:visible!important;
		position:relative;left:16em!important;
			float:inline-start!important;
		margin:0!important;
			padding:0!important;
		width:0px!important;
		display:inline!important;}
	.subreddit .midcol{width:auto!important;}
  .thing{border:1px solid lightgreen!important;margin:0!important;}
   div.usertext-buttons,.bottom-area{width:100%!important; }
 

}
