@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("github.com") {
  td.blob-code{background-color: black!important;
    color:orange!important;
  line-height: 1.5em!important;}
  .pl-c{color:lightgrey!important}
  .pl-kos{color:lightcoral !important;}
  .pl-c1,.pl-s .pl-v{color:lightgreen!important}
  .pl-e,.pl-en{color:yellow!important}
  .pl-s {color:lightblue!important;}
  .pl-s1,.pl-smi{color:red!important}
  .pl-ent{color:#22863a!important}
  .pl-k{color:darkorange!important}
  .pl-pds, .pl-pse,.pl-sr, .pl-cce, .pl-sra, .pl-sre{color:white!important}
  .pl-smw,.pl-v{color:#e36209!important}
  .pl-bu{color:#b31d28!important}
  .pl-ii{color:#fafbfc!important;}
  .pl-c2{color:#fafbfc!important;}
  .pl-sr .pl-cce{color:#22863a!important}
  .pl-ml{color:#735c0f!important}
  .pl-mh,.pl-mh .pl-en,.pl-ms{color:lightcoral!important}
  
  
}
