@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("github.com") {

	.clearfix,.container-xl,.container-lg,.commit-form.offset-lg-1{margin:0!important;max-width:100%!important;padding:0!important;
		width:100%!important;}
	.col-md-3{z-index:400!important;background-color:black!important;;}
	textarea{height:30vw!important;}
}
