@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("github.com") {
 
 #branch-select-menu .css-truncate,#branch-select-menu  .css-truncate-target{overflow:visible!important;max-width:100%!important;
  background-color: transparent!important;}
  main>*,.offset-lg-1{margin:0!important;max-width:100%!important;width:100%!important;}
  .col-md-3{margin-left:10vw!important;}
  .form-control, .form-select,input,p, div, span, td, tr, table,div,.bg-gray-light,.text-gray,.muted-link,.text-gray-light,.text-gray-dark,.bg-white,.link-gray,.link-gray-dark{background-color: black!important;color:orange!important;}
 
  /*expand to maximize area*/
   #branch-select-menu,#branch-select-menu>*,#branch-select-menu>*>*{width:100%!important;}
  
  .container{width: 100%!important;}
 
  textarea,.CodeMirror-scroll,.commit-form{;min-width:100%!important;}
}
