@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("github.com") {
  .flex-shrink-0.col-md-3{margin-left:10vw!important;}
.js-repo-nav>ul>li{max-width:10vw!important;overflow:hidden;
}
  .js-repo-nav>ul>li span[data-content]{display:none}
  li.d-flex>a,.btn-octicon{transform:scale(2)!important;
      border:0.1em solid aqua;
    margin-bottom:1em!important;}
  
}
