@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("github.com") {

  

	.avatar,.avatar-user{max-width:10vw!important;max-height:10vw!important;}
  .js-repo-nav>ul>li span[data-content]{display:none}
    .js-repo-nav>.UnderlineNav-body>li.d-flex>a,
	.inline-form>.btn-octicon{
    transform:scale(2)!important;
           }
  .js-repo-nav>.UnderlineNav-body>li.d-flex>a[data-tab-item]>span[title]{transform:scale(0.5) !important;
  margin-left:-1vw!important;padding:0!important;
    text-decoration: overline!important;
  color:red!important;}
   .js-repo-nav>.UnderlineNav-body> li.d-flex>a[data-tab-item="issues-tab"]>span[title]{
     color:yellow!important;}
	
}
