@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("twitter.com") {
	[data-testid="primaryColumn"]> *>div{position:static!important;}
	[aria-label="Sign up"],[data-testid="sidebarColumn"],[role="heading"],header,#layers,[aria-roledescription="carousel"]{display:none!important;}
	  img[class^='css'],div>div[aria-label="Image"]{opacity:1!important;max-height: none!important;;width:100%!important;height:auto!important;max-width:100%!important;
			overflow:scroll!important;}
	main div[class^='css']{max-height:none!important;max-width:100%!important;width:100%!important;}
}
