@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("stackexchange.com")  {
	.top-bar__network,._fixed{position: static!important;}
	#js-gdpr-consent-banner,.js-dismissable-hero{display: none!important;}
	.container,.container *{max-width:100%!important;margin:0!important;}
}
