@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url-prefix("about:") {
	#view-port-container{
		  overflow-y: scroll!important;
  overflow-x: scroll!important;; 
		overflow: scroll!important;}
}
