@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("en.wikipedia.org") {	
	#mw-panel{overflow:hidden!important;z-index:-10!important;}
	#mw-panel,.mw-body{padding:0!important;padding-left:0px!important;width:auto!important;} 

	#footer-info-copyright{display: none!important;}
	#mw-data-after-content,#bodyContent{width:auto!important;
		margin:auto!important;padding:0!important;}
  a.new{border:3px dotted red;}
}
