@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("en.wikipedia.org") {	
	.mw-body{padding:0!important;} 
	#mw-panel{z-index:-100!important;}
	#footer-info-copyright{display: none!important;}
	#mw-data-after-content,#bodyContent{width:auto!important;
		margin:auto!important;padding:0!important;}
  a.new{border:3px dotted red;}
}
