@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("youtube.com") {
	span.ytp-caption-segment{ 
		font-size:2vw!important;
		color:yellow!important;
		font-weight:lighter!important;
    text-shadow: none!important;}
  /*Fix colors  .ytp-chrome-controls,#movie_player,#player ,*/
  .ytp-chapter-container,.ytp-title,.ytp-title-link,.ytp-title-fullscreen{line-height: 1.0em !important;}
  
	#player{z-index:30000!important;}
	#player *,
.ytp-cued-thumbnail-overlay,.ytp-cued-thumbnail-overlay *
	{
		background-color: transparent!important;
		text-shadow: 2px 2px black!important;
	}


	.ytp-title,.ytp-title-text,
	.ytp-chrome-top,
	.ytp-chrome-controls{
		text-shadow: 1px 1px  black;;
		background-color: transparent!important;}

  .ytp-gradient-bottom,.ytp-gradient-top{display: none!important;height:0px!important;}
  /*fix copy*/
  ytp-time-display,ytp-time-display *{-moz-user-select:none!important;	}
}
