@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {
	*{font-size:0.6cm!important;line-height:0.8cm!important;}
	#overlays,#overlays *{
		background-color: transparent!important;;color:orange!important;}
	
	#items{	counter-reset: cnt;}
	ytd-compact-video-renderer:after{
		color:azure;	 	counter-increment: cnt;content: counter(cnt);
	}
	 

	
	h3.ytd-compact-video-renderer{color:yellow!important;}
	paper-dialog{background-color:black!important;}

  body,*[id],body>*,body>*>*,a,span.title,span.stat{
		color:orange!important;
		background-color: transparent!important;}

  
	
	
}
