@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {
	#overlays,#overlays *{
		background-color: transparent!important;font-size:1.0em!important;;color:orange!important;}
	#masthead-container{position:relative!important;}
	#items{	counter-reset: cnt;}
	ytd-compact-video-renderer:after{
		color:azure;	 	counter-increment: cnt;content: counter(cnt);
	}

	
	#checkmark{background-color:yellow!important;
		height:100%!important;
		width:100%!important;}
	yt-icon{transform: scale(2);}
	 /*Channel fixes */
	
	h3.ytd-compact-video-renderer{color:yellow!important;}
	

	
	.DDytd-rich-shelf-renderer{display:none}

	
  body,*[id],body>*,body>*>*,a,span.title,span.stat{
		color:orange!important;background-color: black!important;}

  
	
	
}
